@model IEnumerable<EnvironmentalProtectionSurvey.Models.News>

@{
    ViewData["Title"] = "News";
    Layout = "~/Views/Shared/_LayoutBE.cshtml";
}

<nav class="navbar default-layout">
    <div class="navbar-menu-wrapper d-flex align-items-top">
        <h1>News</h1>
    </div>
</nav>
<p>
    <a asp-action="Create" class="btn btn-outline-success"><span class="btn-label"><i class="fa fa-plus"></i></span>Create New News</a>
</p>
<div class="table-responsive mt-1">
    <table class="table select-table" id="Exampledatatable">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Content)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Image)
                </th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.Raw(item.Content)
                    </td>
                    <td>
                        <img src="@item.Image" width="200" height="200" />
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-warning edit-news"><span class="btn-label"><i class="fa fa-edit"></i>Edit</span></a>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger delete-news"><span class="btn-label"><i class="fa fa-trash"></i>Delete</span></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
@section scripts{
    <script>
        $(document).ready(function () {
            $("#Exampledatatable").DataTable();
        })
    </script>
}