@model EnvironmentalProtectionSurvey.Models.NewsSurveyViewModel
@using EnvironmentalProtectionSurvey.Models
@using Microsoft.AspNetCore.Http
@{
    ViewData["Title"] = "Enviromental Protection";
    // Layout = "~/Views/Shared/code.cshtml";
}
<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    @*
    <link href="layout/styles/layout.css" rel="stylesheet" type="text/css" media="all" /> *@
    <link href="~/css/styles/layout.css" rel="stylesheet" />

    <style>
        .f-post-content-right {
            text-align: initial;
        }

        .top-right {
            position: absolute; /* Cố định phần tử */
            top: 90px; /* Đặt phần tử ở trên cùng */
            right: 0; /* Đặt phần tử ở bên phải */
            width: 300px; /* Điều chỉnh chiều rộng nếu cần */
        }

        .f-post-content-right .fvv-content-box {
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        .post_box_item {
            margin-bottom: 20px;
        }

        .survey-item {
            border: 1px solid #ccc;
            padding: 10px;
        }

        .survey-header {
            display: flex;
            align-items: center;
        }

        .survey-title {
            margin-left: 10px;
        }

        .survey-actions {
            text-align: center;
        }

        .survey-meta {
            text-align: left;
        }

        .content > div {
            height: 100px;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
        }

        .left {
            float: left;
            width: 50%;
            border-right: 1px solid black;
        }

        .right {
            float: right;
            width: 50%;
        }
    </style>
</head>

<body id="top">
    <div class="" style="background-image:url('images/demo/backgrounds/01.png');">
        <!-- ################################################################################################ -->
        <header id="header" class="hoc clear">
            <div id="logo" class="fl_left">
                <!-- ################################################################################################ -->
                <a asp-controller="Home" asp-action="Index">
                    <img src="~/images/logo.png" style="width: 50px;margin-bottom: 20px;" />
                </a>
                <!-- ################################################################################################ -->
            </div>
            <nav id="mainav" class="fl_right">
                <!-- ################################################################################################ -->
                <ul class="clear">
                    <li class="active"><a asp-action="" asp-controller="Home">Home</a></li>
                    <li class="active"><a asp-action="SurveyBoard" asp-controller="Home">Survey Board</a></li>
                    <li class="active"><a asp-action="" asp-controller="Home">Support</a></li>
                    <li class="active"><a asp-action="Faqs" asp-controller="Home">FAQs</a></li>
                </ul>
            </nav>
        </header>
    </div>
    <div class="row">
        <!-- !HEADER -->
        <div class="f-content">
            <div class="container">
                <div class="content">
                    <div class="f-post-content-box">
                        @{
                            var index = 0;
                        }
                        <div class="left col-lg-9">
                            <center>Surveys</center>
                            @foreach (var survey in Model.SurveyList)
                            {
                                <div class="survey-item">

                                    <div class="survey-header">

                                        <h3>@survey.Title</h3>
                                    </div>
                                    <div class="survey-actions">
                                        @if (Context.Session.GetString("username") != null)
                                        {
                                            <a href="@Url.Action("TakeSurvey", "Home", new { id = survey.Id })">More Details &raquo;</a>
                                        }
                                        else
                                        {
                                            <p>Please <a href="@Url.Action("Login", "Users")">login</a> to participate in this survey.</p>
                                        }
                                    </div>
                                    <div class="post_box_media">
                                        <div class="post_view">Start: @survey.CreatedAt • End: @survey.EndAt</div>
                                    </div>
                                </div>
                            }
                        </div>

                        <div class="right">
                            <div class="fvv-content-box">
                                <div class="post_box post_box_related">
                                    <center>Contests</center>
                                    @foreach (var contest in Model.ContestList)
                                    {
                                        <div class="survey-item">
                                            <div class="post_box_content">
                                                <h3>
                                                    @contest.Title
                                                </h3>
                                            </div>
                                            <div class="survey-actions">
                                            @if (Context.Session.GetString("username") == null)
                                            {
                                                <p>Please <a href="@Url.Action("Login", "Users")">login</a> to participate in this contest.</p>
                                            }
                                            else
                                            {
                                                <h3>
                                                    <a href="@Url.Action("TakeContest", "Contests", new { id = contest.Id })">More Details &raquo;</a>
                                                </h3>
                                            }
                                            </div>
                                            <div class="post_box_media">
                                                <div class="post_view">Start: @contest.StartTime • End: @contest.EndTime</div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
<script src="~/js/scripts/jquery.backtotop.js"></script>
<script src="~/js/scripts/jquery.min.js"></script>
<script src="~/js/scripts/jquery.mobilemenu.js"></script>
